.footer-one {
  height: 100px;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-second {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  color: rgba(183, 183, 183, 1);
  font-size: 14px;
}

body.light-theme .footer-second {
  color: #111111;
}

.footer-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin: 0;
  padding: 0;
}

.footer-click {
  text-decoration: underline;
  color: var(--footer-text);
  cursor: pointer;
  border: none;
  display: inline;
  background: transparent;
  width: auto;
}

@media screen and (min-width: 768px) {
  .footer-one {
    height: 150px;
  }
  .footer-second {
    flex-direction: row;
    column-gap: 10px;
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1280px) {
  .footer-one {
    height: 200px;
  }
  .footer-second {
    flex-direction: row;
    column-gap: 10px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.modal-team-goit {
  display: none; /* Ukryte domyślnie */
  position: fixed; /* Pozostaje w miejscu nawet przy przewijaniu */
  z-index: 1; /* Siedzi na wierzchu */
  left: 0;
  top: 0;
  width: 100%; /* Pełna szerokość */
  height: 100%; /* Pełna wysokość */
  overflow: auto; /* Włącza przewijanie, jeśli potrzebne */
  background-color: rgb(0, 0, 0); /* Kolor tła */
  background-color: rgba(0, 0, 0, 0.4); /* Czarny z lekką przezroczystością */
  border: 50%;
}

.modal-goit {
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  border-radius: 14px;
  width: 80%;
  height: auto;
}

body.light-theme .modal-goit {
  background-color: white;
}

.close-modal-click {
  color: #ffffff;
  float: right;
  font-size: 38px;
  font-weight: bold;
  margin-right: 20px;
}

body.light-theme .close-modal-click {
  color: black;
}

.close-modal-click:hover,
.close-modal-click:focus {
  color: rgb(103, 100, 100);
  text-decoration: none;
  cursor: pointer;
}

.modal-team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px;
  justify-content: space-around;
}
.modal-team-img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
}
.modal-team-header {
  text-align: center;
}
.modal-team-paragraph {
  color: white;
  text-align: center;
  margin-top: 10px;
}

body.light-theme .modal-team-paragraph {
  color: black;
}

@media screen and (max-width: 767px) {
  .modal-team-list {
    display: block;
    margin-top: 10px;
  }

  .modal-team-img-goit {
    margin-top: 30px;
  }
}
.list-member {
  flex-basis: calc(50% - 10px);
  margin: 10px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
