:root {
  --main-orange: #f87719;
  --primary-black: #111111;
  --secondary-black: #282828;
  --neutral-gray: #595959;
  --light-neutral-gray: #b7b7b7;
  --off-white: #f8f8f8;
  --pure-white: #ffffff;

  --gradient-main: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --gradient-reverse: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );

  --transition-duration: 250ms;
  --transition-curve: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--primary-black);
}

body.light-theme .header {
  background-color: var(--pure-white);
  transition: background-color var(--transition-curve)
    var(--transition-duration);
}

.header-container {
  /* max-width: 1216px; */
  margin: 0 auto;
  padding: 0 32px;
}

.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-link img {
  position: relative;
  z-index: 4;
}

body.light-theme .header-span {
  color: var(--primary-black);
}

.header-span {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  z-index: 2;
  transition: color var(--transition-curve) var(--transition-duration);
  color: var(--pure-white);
}

.header-mobile-menu {
  display: none;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-switcher {
  z-index: 2;
  position: relative;
}

.header-theme-switcher {
  width: 60px;
  height: 24px;
  appearance: none;
  outline: none;
  background: var(--gradient-main);
  border-radius: 20px;
  transition: var(--transition-curve) var(--transition-duration);
}

.header-theme-switcher:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  left: 6px;
  top: 4px;
  border-radius: 20px;
  background: var(--pure-white);
  transition: var(--transition-curve) var(--transition-duration);
  transform: scale(1.1);
}

.header-theme-switcher:checked:before {
  left: 40px;
}

.sun {
  pointer-events: none;
  position: absolute;
  left: 40px;
  top: 4px;
}

.half-moon {
  pointer-events: none;
  position: absolute;
  left: 6px;
  top: 4px;
}

@media screen and (max-width: 768px) {
  .header-mobile-menu {
    display: block;
    z-index: 2;
  }

  .header-container {
    /* max-width: 1216px; */
    margin: 0 auto;
    padding: 0 15px;
  }

  .header-mobile-menu button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--neutral-gray);
    text-transform: uppercase;
    transition: color var(--transition-curve) var(--transition-duration);
  }

  .header-mobile-menu button:focus {
    color: var(--main-orange);
    transition: color var(--transition-curve) var(--transition-duration);
  }

  .header-logo-link img {
    width: 32px;
    height: 32px;
  }

  .header-span {
    display: none;
  }

  .header-body {
    height: 48px;
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: -500;
    width: 204px;
    height: 100%;
    background-color: var(--primary-black);
    border-radius: 0 10px 10px 0;
    z-index: 3;
    padding: 80px 0 0;
    transition: var(--transition-curve) var(--transition-duration);
  }

  body.light-theme .header-menu {
    background-color: var(--off-white);
  }

  .header-list {
    display: block;
  }

  .header-link {
    padding: 0 0 24px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  body.light-theme .header-link {
    color: var(--primary-black);
    font-weight: 600;
  }

  .header-link a:focus {
    color: var(--main-orange);
    transition: color var(--transition-curve) var(--transition-duration);
  }

  .header-menu.active {
    left: 0;
    transition: var(--transition-curve) var(--transition-duration);
  }

  .header-theme-switcher {
    z-index: 2;
  }

  body.lock {
    overflow: hidden;
  }
}

@media screen and (max-width: 1280px) {
  body.light-theme .header-span {
    color: var(--secondary-black);
  }

  .header-span:hover,
  :focus {
    color: var(--main-orange);
    transition: color var(--transition-curve) var(--transition-duration);
  }

  .header-menu {
    z-index: 2;
  }

  body.light-theme .header-link {
    color: var(--neutral-gray);
  }

  .header-link:hover,
  :focus {
    color: var(--main-orange);
    transition: color var(--transition-curve) var(--transition-duration);
  }

  .header-theme-switcher {
    z-index: 2;
  }
}

.header-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--neutral-gray);
  transition: color var(--transition-curve) var(--transition-duration);
}

.index-page-body .header-link-index,
.catalog-page-body .header-link-catalog,
.library-page-body .header-link-library {
  color: var(--main-orange);
}

.header-menu-btn {
  cursor: pointer;
  background: 0 0;
  border: none;
  margin: 0;
  padding: 0;
}
