.MovieCard {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.MoviePoster {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.MovieDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MovieTitle {
  font-size: 1.8em;
  margin: 0;
}

.LibraryBtn {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.ModalContent {
  width: 846px;
  height: 598px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}

.ModalPoster {
  width: 300px;
  border-radius: 8px;
}

.ModalMovieDetails {
  display: flex;
  flex-direction: column;
}

.ModalMovieTitle {
  font-size: 1.8em;
  margin: 0;
}

.CloseBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 768px) {
  .MovieCard {
    flex-direction: column;
    align-items: center;
  }

  .MoviePoster {
    width: 100%;
    max-width: 300px;
  }

  .MovieTitle {
    font-size: 1.5em;
    text-align: center;
  }

  .ModalContent {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .ModalPoster {
    width: 100%;
    max-width: 300px;
  }

  .ModalMovieTitle {
    font-size: 1.5em;
    text-align: center;
  }

  .LibraryBtn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .MovieTitle {
    font-size: 1.2em;
  }

  .ModalMovieTitle {
    font-size: 1.2em;
  }

  .LibraryBtn {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}