.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  width: 846px;
  height: 598px;
  background: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.modal-poster {
  width: 363px;
  height: 318px;
  border-radius: 10px;
  border: 3px solid #007aff;
  /* Bright blue border */
  margin-right: 20px;
}

.modal-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-meta {
  font-size: 18px;
  margin-bottom: 15px;
}

.modal-description {
  max-height: 200px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #bbb;
  margin-bottom: 20px;
}

.modal-library-btn {
  padding: 10px 20px;
  background-color: #333;
  border: 1px solid #f7931e;
  color: #f7931e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.modal-library-btn:hover {
  background-color: #f7931e;
  color: #333;
}

.hidden {
  display: none;
}

.trailer-container {
  width: 100%;
  height: 315px;
  margin-top: 10px;
}

/* Tablet view */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 15px;
  }

  .modal-poster {
    width: 100%;
    max-width: 375px;
    height: auto;
    margin: 0 auto 15px;
  }

  .modal-info {
    max-width: 100%;
    text-align: center;
  }

  .modal-title {
    font-size: 22px;
  }

  .modal-meta {
    font-size: 14px;
  }

  .modal-library-btn {
    width: 100%;
    padding: 10px;
  }
}

/* Phone view */
@media (max-width: 480px) {
  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .modal-poster {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .modal-title {
    font-size: 20px;
  }

  .modal-meta {
    font-size: 12px;
  }

  .modal-library-btn {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
}