<div class="catalog-container">
  <form class="CatalogSearchForm">
    <div class="CatalogContainerSearch">
      <input
        type="text"
        class="CatalogSearchInput"
        placeholder="Search"
        required
      /><svg height="18" width="18" class="CatalogIconX">
        <use href="./images/icons-catalog.svg#icon-x-search"></use>
      </svg>
    </div>

    <button class="CatalogSearchBtn" type="submit">
      <svg height="20" width="20" class="CatalogIconSearch">
        <use href="./images/icons-catalog.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <div class="CatalogGallery"></div>
  <div class="CatalogPaginationContainer">
    <svg height="20" width="20" class="CatalogIconArrowLeft">
      <use href="./images/icons-catalog.svg#icon-arrow-left"></use>
    </svg>
    <div class="CatalogPaginationPages">
      <button class="CatalogNumberBtn">01</button>
      <button class="CatalogNumberBtn">02</button>
      <button class="CatalogNumberBtn">03</button>
      <span class="CatalogPaginationDots">...</span>
      <button class="CatalogNumberBtn">24</button>
    </div>
    <svg height="20" width="20" class="CatalogIconArrowRight">
      <use href="./images/icons-catalog.svg#icon-arrow-right"></use>
    </svg>
  </div>
</div>
