<footer class="footer-one">
    <div class="container footer-container">
      <div class="footer-second">
        <div class="footer-paragraph">© 2023 | All Rights Reserved |</div>
        <div class="footer-paragraph">
          Developed with
          <svg width="16" height="16" class="FooterHeartSVG">
            <defs>
                <linearGradient id="Gradient1" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop class="Stop1" offset="0%" />
                    <stop class="Stop2" offset="100%" />
                </linearGradient>
            </defs>
            <use href="./images/heart.svg#icon-heart" fill="url(#Gradient1)"></use>
          </svg>
          by
          <button class="footer-click" type="button">GoIT Students</button>
        </div>
      </div>
    </div>

  </footer>
  <div id="modalTeam" class="modal-team-goit">

    <div class="modal-goit">
      <span class="close-modal-click">&times;</span>
      <h1 class="modal-team-header">Nasz zespół</h1>
      <ul class="modal-team-list">
        <li class="list-member-goit">
          <img class="modal-team-img" src="./images/dima.png" alt="photo" />
          <h2 class="modal-team-paragraph">Dima Somik</h2>
          <p class="modal-team-paragraph">Lider Zespołu i Scrum Master</p>
          <p class="modal-team-paragraph">Too lazy to leave a decent about me, so here some dogs for ya 🐶🐶🐶🐶🐶🐶
            </p>
        </li class="list-member">
        <li>
          <img class="modal-team-img" src="./images/piotr_kowalski.jpg" alt="photo" />
          <h2 class="modal-team-paragrapht">Piotr Kowalski</h2>
          <p class="modal-team-paragraph">Deweloper</p>
          <p class="modal-team-paragraph">W branży IT od 2006 roku, sieci, serwery, security, osint. Obecnie pracuje jako Lider techniczny oraz Administrator aplikacji, rozwijam się jako Full-Stack developer.
            
          </p>
        </li>
        <li class="list-member">
          <img class="modal-team-img" src="./images/kasia.jpg" alt="photo" />
          <h2 class="modal-team-paragraph">Kasia</h2>
          <p class="modal-team-paragraph">Deweloper</p>
          <p class="modal-team-paragraph">Sprzedawca na Amazonie, pasjonatka e-commerce i sportu, prywatnie szczęśliwa mama
            
          </p>
        </li>
        <li class="list-member">
          <img class="modal-team-img" src="./images/julia_rymanowska.jpg" alt="photo" />
          <h2 class="modal-team-paragraph">Julia Rymanowska</h2>
          <p class="modal-team-paragraph">Deweloper</p>
          <p class="modal-team-paragraph">
            
          </p>
        </li>
        <li class="list-member">
          <img class="modal-team-img" src="./images/adrian.jpg" alt="photo" />
          <h2 class="modal-team-paragraph">Adrian Szulc</h2>
          <p class="modal-team-paragraph">Deweloper</p>
          Doradca biznesowy w banku. W wolnej chwili siłownia i szachy
          <p class="modal-team-paragraph">

          </p>
        </li>
        <li class="list-member">
          <img class="modal-team-img" src="./images/weronika_misiowska.jpg" alt="photo" />
          <h2 class="modal-team-paragraph">Weronika Misiowska</h2>
          <p class="modal-team-paragraph">Deweloper</p>
          <p class="modal-team-paragraph">Prywatnie żona i mama z zamiłowaniem do natury. Zawodowo kierownik zespołu w firmie budującej pociągi.
            
          </p>
        </li>
        <li class="list-member">
          <img class="modal-team-img" src="./images/lukasz_Kow.jpg" alt="photo" />
          <h2 class="modal-team-paragraph">Łukasz Kowalski</h2>
          <p class="modal-team-paragraph">Deweloper</p>
          <p class="modal-team-paragraph">Analityk w branży elektronicznej, ten kurs to początek przygody z IT
            
          </p>
        </li>

      </ul>
    </div>
  </div>
  <script type="module" src="./partials_js/footer.js"></script>
