<div class="StartedHeroBox">
    <h1 class="StartedHeroMainHeading">Let's Make Your Own Cinema</h1>
    <ul class="StartedHeroStarsList" style="display: none;"></ul>
    <p class="StartedHeroMovieDescription">Is a guide to creating a personalized movie theater experience.
                                    You'll need a projector, screen, and speakers. Decorate your space, choose your films,
                                    and stock up on snacks for the full experience.</p>
    <div class="StartedHeroTrailerButtons">
        <button class="StartedHeroWatchTrailer">Get Started</button>
        <button class="StartedHeroMoreDetails" style="display: none;">More Details</button>
    </div>
</div>

