<div id="modal" class="modal hidden">
    <div class="modal-content">
        <button id="closeModalBtn" class="close-modal">&times;</button>
        <img id="moviePoster" src="./images/camera.png" alt="Movie Poster" class="modal-poster" />
        <h2 id="movieTitle">Title</h2>
        <p id="movieRating">Rating: </p>
        <p id="moviePopularity">Popularity: </p>
        <p id="movieDescription" class="modal-description">Description</p>
        <button id="toggleLibraryBtn" class="modal-library-btn">Add to My Library</button>
        <button id="watchTrailerBtn" class="modal-trailer-btn">Watch Trailer</button>
        <div id="trailerContainer" class="trailer-container hidden"></div>
    </div>
</div>