<section class="upcoming">
    <div class="upcoming-container">
    <div class="upcoming-container">
        <h2 class="upcoming-title">upcoming this month</h2>
        <div class="upcoming-content">
            <div id="movieImgBox" class="upcoming-img-box">
            <img class="upcoming-img" alt="Movie Poster" id="movieImg"/>
                </div>
            <div class="upcoming-box">
                <h3 class="upcoming-box-title" id="movieTitle">Tytuł</h3>
                <div class="upcoming-info">
                    <ul class="upcoming-info-list-left">
                        <li class="upcoming-info-list-item">
                            <p class="upcoming-info-text">Release date</p>
                            <p class="upcoming-info-date" id="releaseDate">01.01.0001</p>
                        </li>
                        <li class="upcoming-info-list-item">
                            <p class="upcoming-info-text">Vote / Votes</p>
                            <p class="upcoming-info-vote">
                                <span class="upcoming-vote" id="movieVote"> 0.0</span>
                                <span class="upcoming-slash"> / </span>
                                <span class="upcoming-vote" id="movieVotes">0</span>
                            </p>
                        </li>
                    </ul>
                    <ul class="upcoming-info-list-right">
                        <li class="upcoming-info-list-item">
                            <p class="upcoming-info-text">Popularity</p>
                            <p class="upcoming-info-number" id="moviePopularity">1</p>
                        </li>
                        <li class="upcoming-info-list-item">
                            <p class="upcoming-info-text">Genre</p>
                            <p class="upcoming-info-number" id="movieGenre">Test</p>
                        </li>
                    </ul>
                </div>
                <h3 class="upcoming-title-about">About</h3>
                <p class="upcoming-text" id="movieOverview">Some text</p>
                <button type="button" class="upcoming-button" id="libraryButton">
                    Add to my library
                </button>
            </div>
        </div>
    </div>
</section>

<script type="module" src="./partials_js/upcoming.js"></script>